<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Group1</title>
<head> 
<meta charset="ISO-8859-1">
    <title> Add School </title>
</head>
<body style="background-color:#444444;" text="white">
	<form>
 		<input type="button" value="Go back!" onclick="history.back()">
	</form>
	
	<form action="#" 
		  th:action="@{/addschool}" 
		  th:object="${school}" 
		  method="post">
		<br>
		 
		<label for="schoolName">School Name: 
		<abbr title="This field is mandatory" aria-label="required"> * </abbr>
		</label>
	    <input type="text" th:field="*{schoolName}" id="schoolName" placeholder="School Name" required>
	    <span th:if="${#fields.hasErrors('schoolName')}" th:errors="*{schoolName}"></span> <br> <br>
	    
	    <label for="address">Address: 
	    <abbr title="This field is mandatory" aria-label="required"> * </abbr>
	    </label>
	    <input type="text" th:field="*{address}" id="address" placeholder="Address" required>
	    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span> <br> <br>
		
		<label for="zip">Zip: 
		<abbr title="This field is mandatory" aria-label="required"> * </abbr>
		</label>
	    <input type="text" th:field="*{zip}" id="zip" placeholder="12345" pattern="[0-9]{5}" required>
	    <span th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"></span> <br> <br>
	    
	    <label for="city">City: 
	    <abbr title="This field is mandatory" aria-label="required"> * </abbr>
	    </label>
	    <input type="text" th:field="*{city}" id="city" placeholder="City" required>
	    <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span> <br> <br>
		
		<label for="numStudents">Number of Students: 
		<abbr title="This field is mandatory" aria-label="required"> * </abbr>
		</label>
	    <input type="number" th:field="*{numStudents}" id="numStudents" placeholder="1-100000" min="1" max="100000" required>
	    <span th:if="${#fields.hasErrors('numStudents')}" th:errors="*{numStudents}"></span> <br> <br>
	    
	    <label for="lowGrade">Low Grade: 
	    <abbr title="This field is mandatory" aria-label="required"> * </abbr>
	    </label>
	    <select id="LG-picker">
	    	<option value="pk">Pre-Kindergarten</option>
	    	<option value="kg">Kindergarten</option>
	    	<option value="01">01</option>
	    	<option value="02">02</option>
	    	<option value="03">03</option>
	    	<option value="04">04</option>
	    	<option value="05">05</option>
	    	<option value="06">06</option>
	    	<option value="07">07</option>
	    	<option value="08">08</option>
	    	<option value="09">09</option>
	    	<option value="10">10</option>
	    	<option value="11">11</option>
	    	<option value="12">12</option>
	    </select>
	    <span th:if="${#fields.hasErrors('lowGrade')}" th:errors="*{lowGrade}"></span> <br> <br>
	    
	    <label for="highGrade">High Grade: 
	    <abbr title="This field is mandatory" aria-label="required"> * </abbr>
	    </label>
	    <select id="KG-picker">
	    	<option value="pk">Pre-Kindergarten</option>
	    	<option value="kg">Kindergarten</option>
	    	<option value="01">01</option>
	    	<option value="02">02</option>
	    	<option value="03">03</option>
	    	<option value="04">04</option>
	    	<option value="05">05</option>
	    	<option value="06">06</option>
	    	<option value="07">07</option>
	    	<option value="08">08</option>
	    	<option value="09">09</option>
	    	<option value="10">10</option>
	    	<option value="11">11</option>
	    	<option value="12">12</option>
	    </select>
	    <span th:if="${#fields.hasErrors('highGrade')}" th:errors="*{highGrade}"></span> <br> <br>
	    
	    <label for="numBuses">Available Buses: 
	    <abbr title="This field is mandatory" aria-label="required"> * </abbr>
	    </label>
	    <input type="number" th:field="*{numBuses}" id="numBuses" placeholder="1-500" min="1" max="500" required>
	    <span th:if="${#fields.hasErrors('numBuses')}" th:errors="*{numBuses}"></span> <br> <br>
	    
	    <label for="numBuses">Bus Capacity: 
	    <abbr title="This field is mandatory" aria-label="required"> * </abbr>
	    </label>
	    <input type="number" th:field="*{busCapacity}" id="busCapacity" placeholder="1-100" min="1" max="100" required>
	    <span th:if="${#fields.hasErrors('busCapacity')}" th:errors="*{busCapacity}"></span> <br> <br>
	    
	    <label for="travelTime">Max Travel Time (minutes): 
	    <abbr title="This field is mandatory" aria-label="required"> * </abbr>
	    </label>
	    <input type="number" th:field="*{travelTime}" id="travelTime" placeholder="1-60" min="1" max="60" required>
	    <span th:if="${#fields.hasErrors('travelTime')}" th:errors="*{travelTime}"></span> <br> <br>
	    
	    <label for="stuPercent">Percent of Students for Bus Routing:
	    <abbr title="This field is mandatory" aria-label="required"> * </abbr>
	    </label>
	    <input type="number" th:field="*{stuPercent}" id="stuPercent" placeholder="1-100" min="1" max="100" required>
	    <span th:if="${#fields.hasErrors('stuPercent')}" th:errors="*{stuPercent}"></span> <br> <br>
	    
	    <input type="submit" value="Add School">   
  	</form>
  	
  	
</body>
</html>


